<md-dialog flex="66">
    <form novalidate name="entityForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Patient Details</h2>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>Name (required)</label>
                    <input name="patientName" md-maxlength="128" ng-model="entity.name" ng-disabled="viewMode" ng-required="true">
                    <div ng-messages="entityForm.patientName.$error">
                        <div ng-message="required">This is required.</div>
                        <div ng-message="md-maxlength">This field has to be less than 128 characters long.</div>
                    </div>
                </md-input-container>
            </div>
            <div layout layout-sm="column">
                <md-input-container flex="50">
                    <label>Telephone number</label>
                    <input type="tel" name="patientTel" md-maxlength="32" ng-model="entity.tel" ng-disabled="viewMode">
                    <div ng-messages="entityForm.patientTel.$error">
                        <div ng-message="required">This is required.</div>
                        <div ng-message="md-maxlength">This field has to be less than 32 characters long.</div>
                    </div>
                </md-input-container>
                &nbsp;&nbsp;&nbsp;
                <md-input-container flex="50">
                    <label>Birthday</label>
                    <input dateconverter type="date" ng-model="entity.birthday" ng-disabled="viewMode">
                </md-input-container>
            </div>
        </md-dialog-content>

        <div class="md-actions" layout="row">
            <!--remove icon-->
            <div layout="row" layout-align="start">
                <md-button class="delete-icon md-icon-button" aria-label="Delete" ng-click="delete()" ng-disabled="!viewMode||isUpdating" ng-show="isEntityUpdate">
                    <md-tooltip>
                        Delete
                    </md-tooltip>
                    <md-icon class="material-icons">delete</md-icon>
                </md-button>
            </div>
            <div flex></div>
            <div layout="row" layout-align="end">
                <!--shows when editing-->
                <md-button ng-show="!viewMode" ng-disabled="!entityForm.$valid||isUpdating" ng-click="save()" class="md-raised md-primary">
                    Save
                </md-button>
                <md-button ng-show="!viewMode" ng-click="cancel()" class="md-warn">
                    Cancel
                </md-button>
                <!--shows when NOT editing-->
                <md-button ng-show="viewMode" ng-disabled="isUpdating" ng-click="toggleViewMode()" class="md-raised md-primary">
                    Edit
                </md-button>
                <md-button ng-show="viewMode" ng-click="close(wasEntityUpdated)" class="md-raised">
                    Close
                </md-button>
            </div>
        </div>
    </form>
</md-dialog>